* {
    box-sizing: border-box;
}

body {
    font-family     : Bradley Hand ITC;
    background-color: lightgray;
    display         : flex;
    flex-direction  : column;
    align-content   : center;
}

.canvas-box {
    display  : flex;
    margin   : auto;
    opacity  : 1;
}

h1 {
    font-size: 3rem;
    text-align: center;
}
h3 {
    font-size: 2rem;
    
}

.controls {
    text-align: center;
    margin    : auto;
}

.button-box {
    position : absolute;
    top: 76px;
    left: 100px;
    transform: translate(-50%, -50%);
}

.btn-start {
    border        : none;
    cursor        : pointer;
    margin        : 40px;
    width         : 130px;
    height        : 130px;
    font-size     : 2rem;
    font-family   : 'Bradley Hand ITC';
    text-transform: uppercase;
    letter-spacing: 1px;
    color         :#BF0000;
    text-align    : center;
    background    : #FF9600;
    opacity: 0.9;
    border-radius : 50%;
    animation     : shadow-pulse 1s infinite;
}

.btn-start:hover {
    width     : 12rem;
    height    : 4rem;
    transition: 225ms ease-in-out;

}

.btn-start-box,
.btn-gameOver-box,
.btn-win-box {
    display            : flex;
    position           : relative;
    background         : url("img/Start Screen/Start Screen.png"), rgba(255, 255, 255, 0.2);
    background-position: center;
    background-size    : cover;
    flex-direction     : column;
    justify-content    : center;
    align-items        : center;
    font-size          : 3em;
    width              : 920px;
    height             : 480px;
    margin             : auto;
    border             : none;
}

.help-screen {
    display        : flex;
    position       : relative;
    background     : url("img/help/helpscreen.png");
    background-size: cover;
    justify-content: center;
    align-items    : center;
    font-size      : 5em;
    width          : 920px;
    height         : 480px;
    margin         : auto;
    z-index        : 3;
    border         : none;
}


.d-none {
    display  : none;
    position : relative;
    z-index  : -1;
    opacity  : 0;
    animation: disappearAni 2s ease;
}
.gameOver-img {
    width: 920px;
    height: 485px;
    background: black;
}

.btn-restart {
    position: absolute;
    margin-top: 364px;
    width: 5rem;
    height: 2rem;
    font-family: arial;
    font-size: 1rem;
}

@keyframes shadow-pulse {
    0% {
      box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
      transform : scale(1);
    }
  
    70% {
      box-shadow: 0 0 0 35px rgba(255, 255, 255, 0.1);
      transform : scale(1);
  
    }
  
    100% {
      box-shadow: 0 0 0 0px rgba(255, 255, 255, 0);
      transform : scale(1);
  
    }
  }

  @media (max-width: 500px) {
      
    body{
          width: 500px;
      }
  }